@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.overview{
    
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(150px , auto);
    grid-auto-flow: dense;
    
    @include xl{
        grid-template-columns: repeat(3 , 1fr);
    }
    @include lg{
        grid-template-columns: repeat(2 , 1fr);
    }
    @include md{
        grid-template-columns: repeat(1 , 1fr);
    }
    @include sm{
        grid-auto-rows: minmax(120px, auto);
    }
    

    .box{
        padding: 20px;
        border-radius: 10px;
        border: 1px solid $soft_bg;
    }

    .box1{
        grid-column: span 1;
        grid-row: span 3;
    }
    .box2{
        grid-column: span 1;
        grid-row: span 1;
    }
    .box3{
        grid-column: span 1;
        grid-row: span 1;
    }

    .box4{
        grid-column: span 1;
        grid-row: span 3;
    }
    .box5{
        grid-column: span 2;
        grid-row: span 2;
    }



}