.listproduct {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
        display: flex;
        font-size: 14px;
        gap: 10px;
        margin-left: 10px;
        

        img {
            width: 30px;
            height: 30px;
            gap: 15px;

        }

    }

    .totalProducts {
        text-align: right;
    }

}