.inventory{
    margin: 0;
    padding: 0;
    height: max-content;

    .info{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;

        button{
            width: 10%;
            height: 10%;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 10px;
        }
    }
}